main {
    margin-left: 50px;
    margin-top: 30px;

}
.box {
    background-color: white;
    padding: 0 20px;
    width: 94%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 0px 10px 9px -2px rgba(0,0,0,0.05); 
    box-shadow: 0px 10px 9px -2px rgba(0,0,0,0.05);
}

h1 {
    font-size: 60px;
    font-family: 'Heebo', sans-serif;
}

input[type=text], select {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #Description {
    width: 90%;
    height: 100%;
    padding: 12px 18px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 90%;
    background-color: #3399ff;
    color: white;
    padding: 20px 20px;
    margin: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
  }
  
  input[type=submit]:hover {
    background-color: #1a8cff;
    transition: 0.8s;
    }

::placeholder {
    font-size: 17px;
    font-family: 'Libre Franklin', sans-serif;
    }